{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}
{% block main %}
<table class="table">
    <thead>
        <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for history in history %}
        <tr>
            <td class="text-start">{{ history.symbol }}</td>
            <td class="text-end">{{ history.shares }}</td>
            <td class="text-end">{{ history.price }}</td>
            <td class="text-end">{{ history.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
